.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  margin-top: 5px;
}

button {
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}